.footer-container {
  background-color: #2b2424;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.copyright {
  font-size: 14px;
  padding-top: 8px;
  color: #fff;
}
.contact-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  background-color: rgb(91, 93, 95);
  margin-top: 10px;
  padding: 14px;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
  display: block;
  margin-bottom: 1rem;
}
.link:hover {
  color: #d63384;
  background-color: transparent;
  transform: scale(1.15);
}
